<!-- 
create_profile_form.html

Template for the Create Profile page in the Mini Facebook application.

Displays a form allowing users to create a new profile.

Author: Li Ziyang (miclilzy@bu.edu)
Date: 02/21/2025
-->

{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <h2>Create Account and Profile</h2>
  <form method="post">
    {% csrf_token %}
    
    <h4>Account Info</h4>
    {{ user_form.as_p }}

    <h4>Profile Info</h4>
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Create Profile</button>
  </form>
</div>
{% endblock %}
